body {
    background: url("bird6.jpg") no-repeat;
    padding-top: 65px;
    background-size: 100% 100%;
    background-attachment: fixed;

}
html{
    height: 100%
}

.navbar-nav{
    background: rgba(255, 255, 255, 0.0);
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";


}

.wall-field{
  width: 50%;
    margin: auto;
    background: rgba(255, 255, 255, 0.6);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";

}
.wall-field:hover{

    box-shadow: 2px 2px 30px 0px rgba(255,255,255,0.5);
}

.wall-field{
    -webkit-transition: height 2s; /* Safari */
    transition: height 2s;
}
#postTitle{
    text-align: center;
}
footer{
    white-space: nowrap;
}

#postSpec + p{
    display:inline;
}
#postContent{
    width: 80%;
   margin: auto;
}

.small-post > p
{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
}
.small-post > button{
    background-color: whitesmoke;

}
.small-post .full-post{
    padding-top: 5%;
    position: absolute;
}

.nav-item a{
    color: aliceblue;
}

.full-post{

    box-shadow: -1px 0px 32px 0px rgba(0,72,255,0.3);
}
.small-post{

}
.full-post:hover{
    box-shadow: -1px 0px 32px 0px rgba(30,0,255,0.7);
}

.g-map{
display:none;
}

input[type=text] {
    background: rgba(255, 255, 255, 0.0);
    border-bottom:1px solid #757575;
    color: white;
}

input:focus {
    border-color: rgba(229, 103, 23, 0.0) !important;
    box-shadow:  0px 0px 202px 50px rgba(107,104,107,0.7) inset, 0 0 8px rgba(229, 103, 23, 0.0) !important;
    outline: 0 none !important;

}
input{

    border-color: rgba(229, 103, 23, 0.0) !important;
    box-shadow:  0px 0px 202px 50px rgba(107,104,107,0.3) inset, 0 0 8px rgba(229, 103, 23, 0.0) !important;

    outline: 0 none !important;



}


.sidebar-nav{
    padding-right: 10%;
    position: fixed;
    -webkit-transition: height 2s; /* Safari */
    transition: height 2s;
}
